.App {
  height: 100%;
  width: 100%;
}

.Background {
  position: fixed;
  top: -18px;
  left: -18px;
  right: -18px;
  bottom: -18px;
  overflow: hidden;
  z-index: 0;
  background-image: url('images/background1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(12px);
  -webkit-filter: blur(12px);
}

.Container {
  position: absolute;
  text-align: center;
  /*background-color: #282c34;*/
  min-height: 80vh;
  margin-top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 10;
  font-weight: 100;
}

.App-link {
  color: #61dafb;
}

.AppLogo {
  display: flex;
}

.AppLogo img {
  align-self: center;
  float: left;
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.Content * {
  margin: 10px auto;
  font-weight: 100;
}

b {
  font-weight: bold !important;
}

.Teams {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  min-width: 700px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .Teams {
    margin-top: 0;
    min-height: 100vh;
    padding: 20px;
    display: block;
    width: calc(100% - 40px);
    min-width: calc(100% - 40px);
  }
}
